.post
  %h2
    Login

%form{:action => "/login", :method => "post"}
  %fieldset
    %legend
      Username
    %input{:type => 'text', :name => "username", :style => "width: 100%"}
  %fieldset
    %legend
      Password
    %input{:type => 'password', :name => "password", :style => "width: 100%"}  
  
  %center
    %button{:type => "submit"}
      Login

%br
.hr
