%form{:action => "/page/edit/#{@page.id}", :method => "post"}
  %br
  %input{:name => "title", :style => "width: 100%", :value => "#{@page.title}"}
  %textarea#textarea{:name => "content", :style => "width: 100%; height: 150px;"}
    #{@page.content}
  
  %center
    %button{:type => "submit"}
      Publish
    %button
      Cancel

%br
.hr
